<div class="chat-top">
  <div class="chattop-left">
    <div class="chattop-name">BANANA</div>
  </div>
  <div class="chattop-right">
    <div class="chattop-over">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-contents">
  <div class="c-content">
    <div class="c-content-info">
      <div class="c-content-user">
        Hero
      </div>
      <div class="c-content-date">
        2021/8/25(Wed)
      </div>
    </div>
    <div class="c-content-nakami">
      <div class="c-content-message">
       Good morning.
      </div>
    </div>
  </div>

  <div class="c-content">
    <div class="c-content-info">
      <div class="c-content-user">
        MA
      </div>
      <div class="c-content-date">
        2021/8/25(Wed)
      </div>
    </div>
    <div class="c-content-nakami">
      <div class="c-content-message">
       Good night.
      </div>
    </div>
  </div>

</div>

<%= form_with model: [@room, @message], class: "chat-form", local: true do |f| %>
  <div class="c-form-input">
    <%= f.text_field :content, class: "c-form-message", placeholder: "type a message" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= f.submit "送信", class: "c-form-button" %>
<% end %>