<div class="side-top">
  <div class="st-left">
  <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="st-right">
  <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-rooms">
  <div class="s-room">
    <div class="sr-name">
      <a href="#">BANANA</a>
    </div>
  </div>
  <div class="s-room">
    <div class="sr-name">
      <a href="#">ABOCADO</a>
    </div>
  </div>
</div>