<div class="side-top">
  <div class="st-left">
  <a href="#">Summer</a>
  </div>
  <div class="st-right">
  <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-rooms">
  <div class="s-room">
    <div class="sr-name">
      <a href="#">BANANA</a>
    </div>
  </div>
  <div class="s-room">
    <div class="sr-name">
      <a href="#">ABOCADO</a>
    </div>
  </div>
</div>