.wrapper {
  display: flex;
}

.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side-top {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.st-left a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.st-right a {
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}


.side-rooms {
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.s-room {
  padding: 20px 0 40px
}

.sr-name a {
  color: white;
  text-decoration: none;
}

.chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat-top {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chattop-name {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.chattop-right {
  margin-top: 40px;
}

.chattop-over a {
  color: darkred;
  padding: 20px;
  border: 1px solid darkred;
  text-decoration: none;
}

.chat-contents {
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
  overflow: scroll;
}

.c-content {
  margin: 10px 0 0 0;
}

.c-content-info {
  display: flex;
}

.c-content-user {
  font-size: 16px;
  color: #434A54
}

.c-content-date {
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.c-content-nakami {
  margin-top: 10px;
}

.c-content-message {
  font-size: 14px;
  color: #434A54;
  margin-bottom: 40px;
}

.chat-form {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}

.c-form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.c-form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.c-form-button {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}